.open-sans-normal {
   font-family: "Open Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 300px;
   font-style: normal;
   font-variation-settings:
       "wdth" 100;
}
.website-color{
   background-color: rgb(245,248,255);
}
/* navbar styles */
.navbar {
   max-width: 1140px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 30px auto;
}
.navlist {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}
.design {
   list-style-type: none;
}
.space {
   margin-left: 10px;
}


.black {
   color: black;
   font-weight: bold;
}


/* banner-part  */


.banner {
   width: 1140px;
   margin: 114px auto;
}


.banner-content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}


.title {
   font-weight: bold;
   font-size: 4.1rem;
   margin: 0px;
}


.orange {
   color: #E95A08;
}


.description {
   font-size: 1.6rem;
   color: rgba(0, 0, 0, 0.5)
}




/* PLANTS STYLES START */
.plants {
   max-width: 1140px;
   margin: 180px auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;


}


.plants-title {
   font-weight: bold;
   font-size: 3.1rem;
   margin: 0px;


}


.plants-description {
   max-width: 888px;
   font-weight: 400;
   font-size: 1.6rem;
   color: rgba(0, 0, 0, 0.5);
   text-align: center;
}


.plants-content {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
}


.button-primary {
   height: 50px;
   width: 270px;
   background-color: #E95A08;
   font-size: 1rem;
   color: #FFFFFF;
   border: none;
}


.card-title {
   font-weight: 600;
   font-size: 1.6rem;
   text-align: center;
   color: rgba(17, 17, 17, 1);
}


.card-price {
   font-weight: bold;
   font-size: 1.6rem;
   text-align: center;
   color: rgba(17, 17, 17, 1);
}






/* flower and plants lover */
.flower-lover {
   width: 1140px;
   margin: 0 auto;
}


.flower-image {
   background-image: linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)), url('../assets/flower-store.png');
   background-repeat: no-repeat;
   width: 100%;
   height: 597px;
}


.flower-content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 93px;
}


.flower-title {
   font-weight: bold;
   font-size: 3.1rem;
   color: rgba(0, 0, 0, 1);
}


.list-design {
   font-size: 1.6rem;
   color: rgba(0, 0, 0, 0.5);
}


.badge-image {
   background-image: url('../assets/trusted-badge.png');
   width: 286px;
   height: 286px;
   background-position: center;
   background-size: cover;
   position: relative;
   right: -350px;
   bottom: 750px;
}


@keyframes spin {
   from {
       transform: rotate(0deg);




   }


   to {
       transform: rotate(360deg);
   }
}


.spin {
   animation: spin 5s linear infinite;
}


/* latest deal syle  */
.latest-deal {
   width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}


.latest-deal {
   font-weight: bold;
   font-size: 3.1rem;
}


.color-orange {
   color: #E95A08;
}


.card-plants-description {
   font-size: 22px;
   color: rgba(0, 0, 0, 0.5);
   margin-left: 100px;
   margin-right: 100px;
}


.latest-deal-content {
   display: grid;
   grid-template-columns: 1fr 3fr;
   gap: 16px;
}


.first-image-part {
   display: grid;
   grid-template-rows: 1fr 1fr;
   gap: 16px;
}


.image-1 {
   background-image: linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)), url('../assets/deal-bloom.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 210px;
   border-radius: 22px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;




}


.image-2 {
   background-image: linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)), url('../assets/deal-ana.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 210px;
   border-radius: 22px;
   /* display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column; */
}


.second-image-part {
   background-image: linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)), url('../assets/deal-zabo.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 435px;
   border-radius: 22px;
}


.bloom-plant-title {
   font-weight: bold;
   font-size: 1.6rem;
   color: #FFFFFF;
}


.shop-now {
   font-weight: 700;
   font-size: 1rem;
   color: #FFFFFF;
   text-decoration: none;
   border-bottom: 2px solid white;
}


.jabo-plant {
   font-weight: bold;
   font-size: 3.4rem;
   color: #FFFFFF;
}


.shop-now2 {
   font-weight: 700;
   font-size: 1.9rem;
   color: #FFFFFF;
   text-decoration: none;
   border-bottom: 2px solid white;


}




/* colorful style */
.colorful {
   background-image: linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)), url('../assets/news-letter-bg.png');
   height: 533px;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 120px;
}


.coffee {
   display: flex;
   align-items: center;
   width: 830px;
   background-color: #FFFFFF;
   border-radius: 5px;
}


.email {
   padding: 15px;
   flex: 1;
   border: none;
   outline: none;
}


.join-title {
   font-weight: bold;
   font-size: 3.1rem;
   color: white;
   text-align: center;
}






/* footer style  */


.footer {
   margin: 50px 160px;
}


.footer-content {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   justify-items: center;
   gap: 40px;
}


.one {
   list-style-type: none;
   margin-bottom: 30px;
   color: gray;
}


.footer-part4 {
   display: flex;
   gap: 30px;
}


.footer-part4 img {
   width: 32px;
   height: 32px;
   object-fit: cover;
}


.color-change {
   font-size: 1.6rem;
   color: rgba(0, 0, 0, 0.5);
}




/* Mobile styles */
@media screen and (max-width: 576px) {
    
   .hide-col {
       display: none;
   }


   .navlist {
       display: flex;
       justify-content: flex-end;
       flex-grow: 1;
       margin-right: 20px;
   }


   .navbar {
       display: flex;
       justify-content: space-between;
       align-items: center;
   }


   .cart-item {
       display: flex;
       align-items: center;
       white-space: nowrap;
   }


   .space {
       margin-left: 5px;
   }


   /* banner  */
   .banner {
       width: 100%;
       margin: 60px auto;
   }


   .banner-content {
       grid-template-columns: 1fr;
   }


   .banner-image {
       order: -1;
   }


   .banner-image img {
       max-width: 100%;
       height: auto;
   }


   /* plants style responsive  */
   .plants {
       margin-bottom: 50px;
   }


   .plants-content {
       grid-template-columns: repeat(2, 1fr);
   }


   .button-primary {
       width: 100%;
   }


   .plants-description {
       width: 100%;
       font-size: 1rem;
   }


   .plants {
       flex-direction: column;
   }


   .plants-card img {
       width: 100%;
   }


   /* flower lover  */
   .badge-image {
       display: none;
   }


   .flower-lover {
       width: 100%;
   }


   .flower-image {
       width: 100%;
   }


   .flower-content {
       grid-template-columns: repeat(1, 1fr);
       gap: 30px;
   }


   /* latest deal responsive  */
   html,
   body {
       width: 100%;
       overflow-x: hidden;
   }


   .latest-deal {
       width: 100% !important;
       margin: 0 !important;
       padding: 0 !important;
   }


   .latest-deal-content {
       width: 100%;
       padding: 0;
       margin: 0;
       display: flex;
       flex-direction: column;
       gap: 10;
   }


   .card-plants-description {
       margin: 0px 0px 30px 0px;
   }


   .first-image-part {
       display: flex;
       flex-direction: column;
       gap: 10;
   }


   .image-1,
   .image-2,
   .second-image-part {
       width: 100%;
       height: 220px;
       padding: 0;
       margin: 0;
       border-radius: 0;
       background-size: cover;
       background-position: center;
   }


   .card-plants-description {
       padding: 0 10px;
       font-size: 1rem;
       text-align: center;
   }


   .jabo-plant {
       font-weight: bold;
       font-size: 1.6rem;
       color: #FFFFFF;
   }


   .shop-now2 {
       font-weight: 700;
       font-size: 1rem;
       color: #FFFFFF;
   }


   .coffee {
       width: 400px;
   }


   /* .button-primary {
       width: 180px;
   } */


   .join-title {
       font-weight: bold;
       font-size: 1.9rem;
       color: white;
       text-align: center;
   }


   /* footer  */
   .footer {
       margin: 50px 10px;
   }


   .footer-content {
       grid-template-columns: repeat(1, 1fr);
       justify-items: left;
       gap: 0;
   }


   .footer-part4 {
       gap: 10px;
       margin-left: 35px;
   }


   .footer-part4 img {
       width: 100%;
   }


   .footer-part2 {
       margin-bottom: 0;
   }


   .footer-part3 {
       margin-top: 0;
   }
}

